/* Body styles */
body{
    font-family: "Open Sans", sans-serif;
     font-family: "Lato", sans-serif;
}
.primary-text{
    color: #FD6E0A;
}
.primary-btn{
    border-radius: 5px;
    background-color: #FD6E0A;
    border: 0;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 18px 35px;
}
.fa-download{
    margin-right: 5px;
}
.primary-btn:hover{
    background-color: #4e3e3e;
    transition: 1s;
}


/* Nav related styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0px 10%;
}
.title{
    font-size: 45px;
    font-weight: 800;
    line-height: normal;
    font-style: normal;
}

nav>ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
    position: relative;
}
nav .list::after{
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 0.2em;
    bottom: -7px;
    left: 0;
    background-color: #FD6E0A;
    transform-origin: bottom right;
    transition: transform .5s ease-out;

}
nav li.list:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}
nav a{
    text-decoration: none;
    color: #241f1f;
}
/* Header style */
.header{
    background-color: #FFF8F3;
    background-image: url("./images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom left;
}
.banner{
    padding: 0px 30px 0px 150px;
    display: flex;
    align-items: center;
    background-image: url("./images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    justify-content: space-between;
}
.contact-btn{
    background-color: #c09123;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
    padding: 18px 35px;
    border-radius: 5px;
    margin-left: 22px;
}
.contact-btn:hover{
   
    transition: 1s;
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    background-color:#FFF8F3;
}

.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 42px;
}
.banner-tittle{
    font-size: 85px;
    font-weight: 800;
    margin-bottom: 30px;
    color: #181818;
}
.banner-text{
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    line-height: 30px;
    margin-bottom: 34px;
}

/* ABout Section */

.about-sec{
    background-color: #FFF8F3;
    height: 550px;
    /* width: 70%; */
    /* margin-left: 15%;
    margin-right: 15%;
    margin-top: 10%;
    margin-bottom: 10%; */
    border-radius: 10px;
}

.about{
    text-align: center;
    background-color: white;
    width: 50%;
    height: 40%;
    position: absolute;
    left: 25%;
    bottom: -90%;
}
.about-title{
    font-size: 35px;
    font-weight: 800;
}
.about>p{
    font-size: 18px;
    font-weight: 400;
}
.bio-data{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}
.first{
    font-size: 20px;
    font-weight: 400;
    color: #757575;
}
.second{
    font-size: 20px;
    font-weight: 800;
    color: #474747;
}

/* Card Section */
.card-section{
    /* width: 70%;
    margin-left: 15%;
    margin-right: 15%; */
    margin-top: 11%;
    /* margin-bottom: 10%; */
}
.card-title{
    text-align: center;

}
.card-do{
    font-size: 35px;
    font-weight: 700;
}
.card-paragraph{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: normal;
    margin-bottom: 50px;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .icon{
    font-size: 40px;
    color: #F0DB4F;
    text-align: left;
  }
  .icon-2{
    font-size: 40px;
    color: #61DAFB;
    text-align: left;
  }
  .icon-3{
    font-size: 40px;
    color: #8CC84B;
    text-align: left;
  }
  .icon-4{
    font-size: 40px;
    color: #433374;
    text-align: left;
  }
 .card-headline{
    font-size: 20px;
    font-weight: 700;
    text-align: left;
 }
 .card-para{
    font-size: 16px;
    font-weight: 400;
    text-align: start;
 }
 .card:hover{
    transition:.2s;
    -ms-transform: scale(1);
  -webkit-transform: scale(1); 
  transform: scale(1.1); 
 }
/* container section*/
 .container{
    width: 70%;
     margin-left: 15%;
    margin-right: 15%;
    margin-top: 11%;
    margin-bottom: 10%; 
 }
 /* Resume section */
 .resume-title{
    margin-top: 120px;
    font-size: 35px;
    font-weight: 700;
    text-align: center;

 }
 .resume-element{
   display: flex;
    width: 98%;
   justify-content: space-between;
    gap: 2%; 
 }
 .edu-title{
    font-size: 30px;
    font-weight: 700;
 }
 .exp-title{
    font-size: 30px;
    font-weight: 700;
 }
 .education{
    width: 100%;
 }
 .exprience{
    width: 100%;
 }
 /* MSC */
 .msc{
    border-bottom: 1px solid gray;
 }

.msc-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}
.msc-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #757575;
}
.msc-dis{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
/* BSC */
.bsc{
    border-bottom: 1px solid gray;
 }

.bsc-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}
.bsc-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #757575;
}
.bsc-dis{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
/* Diploma */

.diploma-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}
.diploma-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #757575;
}
.diploma-dis{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}

/* Sr-Developer */
.sr-dev{
    border-bottom: 1px solid gray;
 }

.sr-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}
.sr-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #757575;
}
.sr-des{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
/* jr-developer */
.jr-dev{
    border-bottom: 1px solid gray;
 }

.jr-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}
.jr-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #757575;
}
.jr-des{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
/* HTML Developer */
.html-dev-title{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0;
}
.html-dev-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 0;
    color: #757575;
}
.html-dev-des{
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 20px;
}
/* resume-btn */
.resume-btn{
    text-align: center;
    margin-top: 20px;
}